@font-face {
    font-family: Futura Condensed Light;
    src: url("./src/fclr.otf") format("opentype")
}

@font-face {
    font-family: Verdana;
    src: url("./src/v.ttf") format("truetype")
}

@font-face {
    font-family: K12HL2;
    src: url("./src/k.ttf") format("truetype")
}

:root {
    --font-primary: Verdana;
    --font-header: Futura Condensed Light;
    --text-primary: var(--hl2-text-color) !important;
    --brand-500: var(--hl2-text-color) !important;
    --blurple-26: var(--hl2-text-color) !important;
    --blurple-35: var(--hl2-text-color) !important;
    --brand-360: var(--hl2-text-color) !important;
    --blurple-40: var(--hl2-text-color) !important;
    --blurple-50: var(--hl2-text-color) !important;
    --blurple-60: color-mix(in srgb, var(--hl2-text-color), transparent 25%) !important;
    --blurple-70: color-mix(in srgb, var(--hl2-text-color), transparent 25%) !important;
    --button-filled-brand-background-hover: color-mix(in srgb, var(--hl2-text-color), transparent 25%) !important;
--background-message-highlight: color-mix(in srgb, var(--hl2-text-color), transparent 90%) !important;
}

:root {
    --hl2-text-color: #ffc934;
    --hl2-bg: url(https://blade04208.github.io/halflife2/src/bg.png);
}

.sidebar_c48ade,
.root__49fc1, .title_f75fb0 {
    --text-primary: var(--hl2-text-color) !important;
    --text-default: var(--hl2-text-color) !important;
    --header-primary: var(--hl2-text-color) !important;
    --icon-primary: var(--hl2-text-color) !important;
    --channel-icon: color-mix(in srgb, var(--hl2-text-color), transparent 25%) !important;
    --text-tertiary: color-mix(in srgb, var(--hl2-text-color), transparent 25%) !important;
    --icon-tertiary: color-mix(in srgb, var(--hl2-text-color), transparent 25%) !important;
    --icon-secondary: color-mix(in srgb, var(--hl2-text-color), transparent 15%) !important;
    --interactive-normal: var(--hl2-text-color) !important;
    --channels-default: color-mix(in srgb, var(--hl2-text-color), transparent 25%) !important;
}

.modeSelected__2ea32 .link__2ea32 {

    .icon__2ea32,
    .name__2ea32 {
        filter: drop-shadow(0px 0px 10px var(--hl2-text-color));
    }
}

.scrollerInner__36d07 {
    --text-default: white !important;
}

.bg__960e4,
.layer__960e4 {
    background: var(--hl2-bg);
}

.standardSidebarView__23e6b {
    background: rgba(0, 0, 0, 0.2);
}

.content_c48ade {
    gap: 10px;
    margin: 10px;
    margin-top: 0px;
}

.page_c48ade,
.sidebarList_c48ade,
.panels_c48ade,
.wrapper__44df5,
.prompt__5d7c9,
.mainCard_f369db {
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.4) !important;
    border: 0px;
    backdrop-filter: saturate(80%) brightness(80%);
}

.stackedBars__74017 {
    background: rgba(0, 0, 0, 0.4) !important;
}

.buttonsInner__5126c,
.root__49fc1, .itemCard__7e549, .searchBar__5ec2f, .actionButton_f8fa06, .menu_c1e9c4 {
    background: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid color-mix(in srgb, var(--hl2-text-color), transparent 50%);
    border-radius: 0px !important;
        color: var(--hl2-text-color);
}

.button__6af3a,
.button__201d5:not(.attachButton__74017, .addButton__29444),
.button__24af7,
.emojiButton__04eed {
    border: 1px solid color-mix(in srgb, var(--hl2-text-color), transparent 50%) !important;
    border-radius: 0px !important;
    color: var(--hl2-text-color) !important;

    &.primary__6af3a,
    &.colorBrand__201d5:not(.lookBlank__201d5) {
        color: black !important;
    }
}

.buttons__74017>.button__201d5,
.buttons__74017>.expression-picker-chat-input-button>.button__201d5:not(.emojiButton__04eed) {
    border: none !important;
}

.input__0f084,
.bioTextAreaContainer__6a919,
.select__3f413 {
    border-radius: 0px !important;
}

.privateChannels__35e86,
.scroller__99e7c,
.sidebar_c48ade:after,
.chat_f75fb0,
.content_f75fb0,
.title_f75fb0,
.chatContent_f75fb0,
.container__2637a,
.guilds_c48ade,
.sidebarRegionScroller__23e6b,
.contentRegion__23e6b,
.contentRegionScroller__23e6b,
.container__551b0,
.scroller__23746,
.container__133bf,
.container__9293f,
.tabBody__133bf,
.nowPlayingColumn__133bf,
.container_c8ffbb,
.members_c8ffbb,
.member__5d473,
.wrapper_d852db,
.wrapper_fc8177,
.pageBody__41ed7,
.container_f369db,
.footer__49fc1,
.nowPlayingColumn__133bf,
.container__7d20c, .container__34c2c {
    background: transparent !important;
    border: 0px !important;
}

.form_f75fb0 {
    --chat-background-default: rgba(0, 0, 0, 0.25);
}

.sidebarList_c48ade {
    height: calc(100% - var(--custom-app-panels-height) - 10px);
}

.panels_c48ade {
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px;
}

.nameTag__37e49 {
    display: flex;
    flex-direction: row;
    align-content: end;
    align-items: end;
    gap: 8px;
    max-width: 100%;

    .panelTitleContainer__37e49 {
        flex-shrink: 0;

        .title_b6c092 {
            line-height: 28px;
            font-size: 32px;
            overflow: visible;
            font-family: Futura Condensed Light;
            font-weight: 200 !important;
            letter-spacing: 1px;
            filter: drop-shadow(0px 0px 10px var(--hl2-text-color));
        }
    }

    .panelSubtextContainer__37e49 {
        flex: 1 1 auto;
        width: max-content;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        .subtext__339d0 {
            text-transform: uppercase;
            color: var(--hl2-text-color);
            font-weight: bold;
            opacity: 0.8;
        }
    }
}

.channelTextArea_f75fb0 {
    margin-bottom: 10px;
}

.sidebarRegion__23e6b {
    justify-content: flex-start;
    width: fit-content !important;
    flex: 0;
    max-width: none !important;
    flex-shrink: 0 !important;
}

.sidebar__23e6b {
    padding-top: calc(45vh - 64px);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
}

.sidebarRegionScroller__23e6b::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.sidebar__23e6b::before {
    font-family: K12HL2;
    content: "H'LF -CORD 2";
    color: white;
    font-size: 48px;
}

.side_b3f026 {
    width: 240px;
}

.separator_b3f026,
.header_b3f026,
.searchBar_c7e907 {
    display: none;
}

.item_b3f026 {
    padding: 4px 20px !important;
    background: transparent !important;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.contentRegion__23e6b {
    margin-left: 100px;
    width: auto !important;
    flex: none !important;
    flex-grow: 1 !important;
}

.contentRegionScroller__23e6b {
    justify-content: center;
}


.backdrop__78332 {
    background: var(--hl2-bg) !important;
    /* filter: opacity(0.9); */
}

.layer_bc663c {
    justify-content: start;
}

.container_ac6cb0 {
    overflow: visible !important;
    width: 80vw;
    height: 100vh;
}

.quickswitcher_ac6cb0 {
    background: transparent;
    width: 80vw;
    min-height: calc(100vh - 48px);
    max-height: 100vh !important;
    padding: 0px;
    border: none;
}

.protip_ac6cb0 {
    display: none;
}

.input_ac6cb0 {
    background: rgba(0, 0, 0, 0.4) !important;
    border: 0px;
    backdrop-filter: saturate(80%) brightness(80%);
    color: var(--hl2-text-color) !important;
    height: 48px;
}

.scroller_ac6cb0 {
    background: none;
    /* overflow: visible !important; */
    max-height: none;
    gap: 4px;
    /* margin: 0px; */

    >[role="listbox"] {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    div:has(.header__71961) {
        width: 100%;
        height: 34px !important;
    }
}

.result__71961 {
    background: rgba(0, 0, 0, 0.4) !important;
    border: 0px;
    backdrop-filter: saturate(80%) brightness(80%);
    width: auto;
    height: 160px;
    max-width: calc(160px * 1.4);
    aspect-ratio: 1.4 / 1;
    flex-grow: 1;

    &[aria-selected="true"] {
        scale: 1.1;

        .icon__71961,
        .wrapper__44b0c,
        .miscContainer_ac6cb0,
        .username__71961 {
            filter: drop-shadow(0px 0px 2px var(--hl2-text-color));
        }
    }

    .content__71961 {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .iconContainer__71961 {
        width: 48px;
        height: max-content;
        flex-grow: 1;
        margin: 0px;

        .icon__71961,
        .wrapper__44b0c {
            scale: 3;
            color: var(--hl2-text-color);
        }
    }

    .name__71961 {
        flex: none !important;
        width: 100%;
        flex-direction: column;

        .match__71961 {
            width: 100%;
            line-height: normal;
            text-align: center;
            color: var(--hl2-text-color);
        }

        .note__71961 {
            display: none;
        }
    }

    .misc__71961 {
        /* margin-left: 0px; */
        width: 100%;
        max-width: none;
    }

    .miscContainer_ac6cb0,
    .username__71961 {
        width: 100%;
        text-align: center;
        line-height: 1.5;
        font-size: 10px;
        color: var(--hl2-text-color);
    }

    .badge__71961 {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}


.container__2637a {
    padding: 0px;
}

.scroller__99e7c {
    margin: 0px;
}



.content_a2f514 {
    border-radius: 12px !important;
    background: rgba(0, 0, 0, 0.4) !important;
    border: 0px;
    backdrop-filter: saturate(80%) brightness(80%);
    padding: 20px 30px;
}

.tipTitle_a2f514 {
    font-size: 0px;
    margin: 0px;

    &::after {
        content: "LOADING";
        color: var(--hl2-text-color);
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
    }
}

.tip_a2f514,
.spinner_a2f514 {
    display: none;
}

div.text_a2f514 {
    top: unset;
    justify-content: center;
}

.container_a2f514 {
    background: var(--hl2-bg);
}